.shoppingBackground{
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textProperties{
    font-size: calc(0.5em + 0.5vw);
    color: white;
    text-align: center;
}

.listContainer{
    width: 90vw;
    background-color: #212529;
    border-radius: 20px;
}