<div *ngFor="let puzzleOrder of puzzleOrders" class="card col-3 cardProperties shadow">
    <img [src]="puzzleOrder.puzzle.imageSource" alt="Puzzle image" class="card-img-top my-1 mx-auto rounded imgProperties">
    <p class="card-header textProperties">{{puzzleOrder.puzzle.name}}</p>
    <div class="card-body">
        <h5 class="card-title textProperties">Description</h5>
        <p class="card-text textProperties">{{puzzleOrder.puzzle.description}}</p>
    </div>
    <div class="card-footer d-flex flex-row flex-wrap justify-content-between">
        <p class="card-text my-auto textProperties">$ {{puzzleOrder.puzzle.price}} USD x {{puzzleOrder.count}}</p>
        <button type="button" class="btn btn-primary textButtonProperties" (click)="onClickRemoveFromCart(puzzleOrder)">Remove</button>
    </div>
</div>
